wheel
numpy
pandas
scipy
scikit_learn
matplotlib
opencv-python
opencv-contrib-python
opencv-python-headless
scikit_image
tator
panoptes-client
panoptes-aggregation
roboflow
supervision
autodistill
autodistill-grounded-sam==0.1.2
autodistill_grounding_dino==0.1.3
torch~=2.0.0+cu118
tqdm~=4.66.4
torchvision~=0.15.1+cu118
pillow
ultralytics