wheel
numpy
pandas
scipy
scikit_learn
matplotlib
Pillow
opencv-python
opencv-contrib-python
opencv-python-headless
scikit_image
piq
tator
panoptes-client
panoptes-aggregation
ffmpeg-python
roboflow==1.1.19
supervision==0.19.0rc3
autodistill==0.1.26
autodistill-grounded-sam==0.1.2
autodistill_grounding_dino==0.1.3
autodistill-yolov8==0.1.4